
.review{
    background:url(../../images/img3.jpg), linear-gradient(var(--black),var(--black)) no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
  
  }
  
  .review .heading{
    color:#fff;
  }


  .review .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
  }
  
  .review .box-container .box{
    background:#fff;
    margin:5rem 1rem;
    width: 300px;
    padding:1.5rem;
    position: relative;
  }
  
  .review .box-container .box img{
    position: absolute;
    bottom: -7.5rem; left: -1rem;
    height:5rem;
    width:5rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .review .box-container .box p{
    font-size: 12px;
    color:var(--black);
  }
  
  .review .box-container .box h3{
    font-size: 18px;
    text-align: end;
    color:var(--blue);
  }
  
  .review .box-container .box span{
    text-align: end;
    color:var(--black);
    display: block;
    font-size: 12px;
  }
  
  .review .box-container .box::before{
    content: '';
    position: absolute;
    bottom: -1rem; left:.4rem;
    height:2rem;
    width:2rem;
    background:#fff;
    transform: rotate(45deg);
  }
  